In [1]:
import pymongo

In [3]:
DEFAULT_CONNECTION_URL = "mongodb://localhost:27017/"
DB_NAME = "pybron"
client = pymongo.MongoClient(DEFAULT_CONNECTION_URL)

#create DB
database = client['DB_NAME']

---

### Paste the default URL in highlighted area of the Compass tool as shown below and click on connect
default URL for local system:- 
```
mongodb://localhost:27017/
```

> ![new connection](mongo_img/compass/c2.JPG)

after you press connect you'll see the following screen which contains already existing databases

> ![new connection](mongo_img/compass/c3.JPG)


**NOTE** you'll not see your database untill or unless you have created first document inside it. So at present we don't have any document in our DB its name is not visible here 

You can also create a database by clicking on CREATE DATABSE button. You'll see a below screen (But we'll see eveyrthing using python)

> ![new connection](mongo_img/compass/c4.JPG)

In [6]:
### to show what are the existing Databases are present in our mongo server
client.list_database_names()

['admin', 'config', 'local', 'rajesh']

# let's verify wether we have our database in the list or not
def checkExisting_DB(DB_NAME, client):
    DBlist = client.list_database_names()
    print(DBlist)
    if DB_NAME in DBlist:
        print(f"{DB_NAME} is present")
        return True
    else:
        print(f"{DB_NAME} not present")
        return False

In [24]:
checkExisting_DB('rajesh',client)

['admin', 'config', 'local', 'rajesh']
rajesh is present

True

In [11]:
DBlist = client.list_database_names()

### Step To: create a collection

In [25]:
collection_name = "pybron_product"
collection = database[collection_name]

In [26]:
client.list_database_names()

['admin', 'config', 'local', 'rajesh']

In [27]:
## let's veryfiy the collections
def checkExisting_col(COLLECTION_NAME,DB_NAME,db):
    "it will verify the existing collection in the database or not"
    collection_list = db.list_collection_names()
    if COLLECTION_NAME in collection_list:
        print(f"{COLLECTION_NAME} is presnt in the Database {DB_NAME}")
        return True
    else:
        print(f"{COLLECTION_NAME} is not presnt in the Database {DB_NAME}")
        return False

In [29]:
checkExisting_col(COLLECTION_NAME=collection_name,DB_NAME=DB_NAME, db= database)

pybron_product is not presnt in the Database rajesh

False

### STEP 3: Insert a record in the collection

In [31]:
record = {
    'company_name':"pybron",
    "product":"Affordable_AI",
    'course_offered': "deep learning for computer vission"
}
collection.insert_one(record)

In [32]:
record = {
    'company_name':"pybron",
    "product":"Affordable_ML",
    'course_offered': "MACHINE learning for Data Scientiest"
}
collection.insert_one(record)

In [33]:
record = {
    'company_name':"pybron",
    "product":"Affordable_ML",
    'course_offered': "MACHINE learning for Data Scientiest",
    "trainer_name": "rajesh"
    
}
collection.insert_one(record)

In [36]:
list_of_records = [
    {
    'company_name':"pybron",
    "product":"Affordable_ML",
    'course_offered': "MACHINE learning for Data Scientiest",
    "trainer_name": "rajesh"
    
},
    {
    'company_name':"TCS",
    "product":"Affordable_ML",
    'course_offered': "MACHINE learning for Data Scientiest",
    "trainer_name": "rajesh"
    
},
    {
    'company_name':"Capgemina",
    "product":"Full stack developer",
    'course_offered': "MACHINE learning for Data Scientiest",
    
    
}
]
res = collection.insert_many(list_of_records)

In [37]:
## let's print the unique ID that of the record that we inserted

inserted_IDs = res.inserted_ids

In [38]:
inserted_IDs

[ObjectId('632ea19c15c1514a8618ef1a'),
 ObjectId('632ea19c15c1514a8618ef1b'),
 ObjectId('632ea19c15c1514a8618ef1c')]

In [39]:
for idx, unique_ids in enumerate(inserted_IDs):
    print(f"{idx}   {unique_ids}")

0   632ea19c15c1514a8618ef1a
1   632ea19c15c1514a8618ef1b
2   632ea19c15c1514a8618ef1c

In [41]:
COLLECTION_NAME = "pybron_faculties"
faculties = database['pybron_faculties']
list_of_records_user_defined_id= [
    {
        "_id":"1",
        'company_name':"TCS",
        "faculty_name":"Rajesh"
        
    },
    {
        "_id":"2",
        'company_name':"pybron",
        "faculty_name":"Manish",
        "specilization":"Full stack Developer"
        
    }
    
    
]

faculty_record = faculties.insert_many(list_of_records_user_defined_id)

In [42]:
faculty_record.inserted_ids
for idx, unique_ids in enumerate(inserted_IDs):
    print(f"{idx}   {unique_ids}")

TypeError: 'InsertManyResult' object is not iterable